{
    "openapi": "3.0.0",
    "info": {
      "title": "Apostroph Group Rest API",
      "description": "<h2>Einleitung </h2> <p>Das folgende Dokument beschreibt die REST Service Schnittstelle für myApostroph und einem externen Partner oder Kunden. Nachfolgend werden allgemeine Informationen zur Service beschrieben und dann die konkrete technische Implementierung.</p> <hr> <h2> Allgemeines </h2> <p>Dieser Service dient dazu, dass ein externer Partner oder Kunde von Apostroph Aufträge direkt via „Internet“ im ERP System Apos erstellen und bei Fertigstellung des Auftrages diesen auch abholen kann. Die Realisierung ist mittels ein REST Services realisiert. </p> <hr> <h2> Wissenswertes </h2>  <li> In der aktuellen Version kann nur eine Übersetzung erstellt werden. Bspw. von „de“ nach „en“, aber nicht von „de“ nach „en“ und von „de“ nach „fr“.</li> <li>Zusätzlich zu den Auftragsinformationen können 2 Dateien übermittelt werden.  <ul><li>Datei mit Endung xliff (kann erweitert werden)</li> <li>Datei mit Endung tmx</li></ul> Beide Dateien müssen im Zip Format übertragen/geliefert werden</li> <li>Die Initialisierung des Services passiert immer von Seite „externer Partner“. Dieser Service des Partners liefert Daten und holt auch wieder Daten ab</li> <li>Pro Auftrag muss immer eine Apos Kundennummer mitgegeben werden, so kann der Auftrag dem korrekten Kunden zugeordnet werden. Diese Nummern müssen auf Seite externer Partner bekannt sein </li> <hr> <h2> Service Beschreibung </h2> <p><u>Servicetyp</u>: REST</p> <p> <u>Serialisierung</u>: JSON </p> <p> <u>Hosting</u>: HTTPS </p> <p> <u>Firewall</u>: Die Firewall auf dem Server sollte wenn möglich auf eine IP eingeschränkt werden können <u>Authentifizierung</u>: Sämtliche Methoden sind mittels HTTP Basic Authentication geschützt. Bei jedem Serviceaufruf müssen Username und Passwort im RequestHeader mitgegeben werden. (Authorization: Basic).  </p> <hr>",
      "contact": {
        "name": "Apostroph",
        "url": "https://apostroph.ch",
        "email": "myapostroph@apostrophgroup.ch"
      },
      "version": "1.0"
    },
    "servers": [
      {
        "url": "https://portal.apostroph.ch/rest/{version}",
        "variables": {
          "version": {
            "default": "v1"
          }
        }
      }
    ],
    "paths": {
      "/translations": {
        "get": {
          "tags": [
            "Translation"
          ],
          "summary": "Translations",
          "description": "Liefert alle laufenden Übersetzungen zurück. Der mögliche Status der Übersetzung ist im Datentyp OrderState beschrieben. Für Übersetzungen, welche bereits übersetzt und geliefert wurden, gilt die Einschränkung, dass sie nur bis 10 Tage nach der Abholung durch den externen Partner aufgelistet werden. Diese Methode ist dazu gedacht, dass sie der externe Partner mittels Polling aufrufen kann und auf eine Veränderung des Status wie bspw. WORKING ändert zu FINISHED reagieren kann.",
          "operationId": "Translations",
          "parameters": [],
          "responses": {
            "200": {
              "description": "Erfolgreich",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/TranslationStatus"
                    }
                  }
                }
              }
            },
            "403": {
              "description": "Access denied"
            }
          },
          "deprecated": false,
          "servers": [
            {
              "url": "https://portal.apostroph.ch/rest/{version}",
              "variables": {
                "version": {
                  "default": "v1"
                }
              }
            }
          ]
        }
      },
      "/translations/{translationId}": {
        "get": {
          "tags": [
            "Translation"
          ],
          "summary": "Translation by ID",
          "description": "Liefert die übersetzte Datei der Übersetzung mit der angegeben ID zurück. Nur Übersetzungen im Status FINISHED oder DELIVERED.",
          "operationId": "TranslationbyID",
          "parameters": [
            {
              "name": "translationId",
              "in": "path",
              "description": "ID der Übersetzung",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Erfolgreich",
              "headers": {},
              "content": {
                "application/zip": {
                  "schema": {
                    "type": "string",
                    "format": "base64"
                  }
                }
              }
            },
            "204": {
              "description": "Noch kein übersetztes XLIFF Dokument vorhanden"
            },
            "403": {
              "description": "Access denied"
            },
            "404": {
              "description": "Die Übersetzung mit der angegebenen translationId wurde nicht gefunden"
            }
          },
          "deprecated": false,
          "servers": [
            {
              "url": "https://portal.apostroph.ch/rest/{version}",
              "variables": {
                "version": {
                  "default": "v1"
                }
              }
            }
          ]
        }
      },
      "/translations/": {
        "post": {
          "tags": [
            "Translation"
          ],
          "summary": "Create new Translation",
          "description": "Erstellt eine neue Übersetzung. ",
          "operationId": "CreatenewTranslation",
          "parameters": [],
          "requestBody": {
            "description": "Daten zur Übersetzung",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/translationData"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TranslationStatus"
                  }
                }
              }
            },
            "404": {
              "description": "Ungültige Parameter"
            },
            "403": {
              "description": "Access denied"
            }
          },
          "deprecated": false,
          "servers": [
            {
              "url": "https://portal.apostroph.ch/rest/{version}",
              "variables": {
                "version": {
                  "default": "v1"
                }
              }
            }
          ]
        }
      },
      "/translations/{translationId}/reject": {
        "post": {
          "tags": [
            "Translation"
          ],
          "summary": "Reject Translation",
          "description": "Weist eine Übersetzung aus technischen Gründen zurück. Diese Methode kann aufgerufen werden, wenn eine Übersetzung vom externen Partner abgeholt wurde, aber die übersetzte Datei nicht gelesen werden kann. Auf Seite Apostroph wird dies beim Auftrag eingetragen und eine Mail an den PrM versendet.",
          "operationId": "RejectTranslation",
          "parameters": [
            {
              "name": "translationId",
              "in": "path",
              "description": "ID der Übersetzung",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rejectInfoData"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Erfolgreich",
              "headers": {}
            },
            "403": {
              "description": "Access denied"
            },
            "404": {
              "description": "Zurückweisung wurde nicht angenommen"
            }
          },
          "deprecated": false,
          "servers": [
            {
              "url": "https://portal.apostroph.ch/rest/{version}",
              "variables": {
                "version": {
                  "default": "v1"
                }
              }
            }
          ]
        }
      },
      "/translations/{translationId}/cancel": {
        "post": {
          "tags": [
            "Translation"
          ],
          "summary": "Cancel Translation",
          "description": "Storniert eine laufende Übersetzung",
          "operationId": "CancelTranslation",
          "parameters": [
            {
              "name": "translationId",
              "in": "path",
              "description": "ID der Übersetzung",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Erfolgreich",
              "headers": {}
            },
            "403": {
              "description": "Access denied"
            },
            "404": {
              "description": "Ungültige Parameter"
            }
          },
          "deprecated": false,
          "servers": [
            {
              "url": "https://portal.apostroph.ch/rest/{version}",
              "variables": {
                "version": {
                  "default": "v1"
                }
              }
            }
          ]
        }
      },
      "/dev/status": {
        "get": {
          "tags": [
            "Service Status"
          ],
          "summary": "Status",
          "operationId": "Status",
          "parameters": [],
          "responses": {
            "200": {
              "description": "Erfolgreich",
              "headers": {}
            },
            "403": {
              "description": "Access denied"
            }
          },
          "deprecated": false,
          "servers": [
            {
              "url": "https://portal.apostroph.ch/rest/{version}",
              "variables": {
                "version": {
                  "default": "v1"
                }
              }
            }
          ]
        }
      }
    },
    "components": {
      "schemas": {
        "translationData": {
          "title": "translationData",
          "required": [
            "DesiredDeadline",
            "IsRevision",
            "SourceLanguage",
            "TargetLanguage",
            "ProjectTitle",
            "CustomerId",
            "SourceDocumentContent"
          ],
          "type": "object",
          "properties": {
            "DesiredDeadline": {
              "type": "string",
              "description": "Datum",
              "example": "DATETIME_STAMP"
            },
            "Comment": {
              "type": "string",
              "description": "Bemerkungen",
              "example": "no comment"
            },
            "IsRevision": {
              "type": "boolean",
              "description": "Ist es eine Nachübersetzung (wenn ja: tmx file muss mitgeliefert werden)",
              "example": false
            },
            "SourceLanguage": {
              "type": "string",
              "description": "2 Stellig",
              "example": "en"
            },
            "TargetLanguage": {
              "type": "string",
              "description": "2 Stellig",
              "example": "de"
            },
            "ProjectTitle": {
              "type": "string",
              "description": "50 Zeichen",
              "example": "first project"
            },
            "IsConfidential": {
              "type": "boolean",
              "description": "Kein Mussfeld",
              "example": false
            },
            "CustomerId": {
              "type": "integer",
              "description": "KundenNr Apos",
              "format": "int32",
              "example": 12345
            },
            "SourceDocumentContent": {
              "type": "string",
              "format": "base64",
              "description": "xliff file zipped (base64 encoded)",
              "example": "Base64"
            },
            "MetadataDocumentContent": {
              "type": "string",
              "format": "base64",
              "description": "tmx file zipped (base64 encoded)",
              "example": "Base64"
            },
            "ReferenceTranslationId": {
              "type": "string",
              "description": "TranslationId der Erstübersetzung (Muss bei einer Nachübersetzung mitgeliefert werden, muss sonst leer sein)",
              "example": "translationID"
            }
          }
        },
        "rejectInfoData": {
          "title": "rejectInfoData",
          "required": [
            "RejectInfo",
            "TargetDocumentContent"
          ],
          "type": "object",
          "properties": {
            "RejectInfo": {
              "type": "string",
              "description": "Grund fürs reject"
            },
            "TargetDocumentContent": {
              "type": "string",
              "format": "base64",
              "description": "xliff file (base64 encoded)"
            }
          },
          "description": ""
        },
        "OrderState": {
          "enum": [
            "RECEIVED",
            "WORKING",
            "FINISHED",
            "DELIVERED",
            "CANCELLED"
          ],
          "type": "string",
          "description": ""
        },
        "TranslationStatus": {
          "title": "TranslationStatus",
          "required": [
            "TranslationId",
            "State"
          ],
          "type": "object",
          "properties": {
            "TranslationId": {
              "type": "string",
              "description": "ID der Übersetzung"
            },
            "State": {
              "$ref": "#/components/schemas/OrderState"
            }
          },
          "description": ""
        }
      },
      "securitySchemes": {
        "httpBasic": {
          "type": "http",
          "scheme": "basic"
        }
      }
    },
    "security": [
      {
        "httpBasic": []
      }
    ],
    "tags": [
      {
        "name": "Translation",
        "description": "Alle Methoden die in Zusammenhang mit der Übersetzung stehen."
      }
    ]
  }